.sectioncontacto{
    margin-top: 1.5rem!important;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contacto-titulo{
    margin-bottom: 20px;
}

.container-titulo-contacto{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.columnacontacto{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: center!important;
}

.h1-contacto{
    fill: #000;
    box-sizing: inherit;
    font-size: 34px;
    font-weight: 700;
    text-align: left!important;
    color: #136fac;
    margin-top: 0;
    font-family: 'MontserratDef',Sans-serif;
    margin-bottom: 0;
}

.contacto-pagina{
    margin-bottom: 70px;
}

.container-pag-contacto{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.justify-content-center{
    margin-right: -15px;
    margin-left: -15px;
}

.columna-izquierda-contacto{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    font-family: 'Montserrat',Sans-serif;
    color: #000;
    fill: #000;
}

.ul-contacto-info{
    margin-top: 20px;
    padding-left: 0;
}

.item-li-contacto{
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    display: flex;
    width: 100%;
    height: auto;
}


.icono-whataspp-contacto{
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 5px;
}

.a-whatsapp-contacto{
    font-family: 'Montserrat',Sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
    height: auto;
}

.icono-email-contacto{
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: 2.8px;
}

.a-email-contacto{
    font-family: 'Montserrat',Sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
    height: auto;
}





.columna-derecha-contacto{
    font-size: 14px;
    color: #000;
    fill: #000;
    font-family: 'Montserrat',Sans-serif;
    box-sizing: inherit;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 60%;
    max-width: 60%;
    
}

#formulario{
    box-sizing: inherit;
    margin-bottom: 1.5rem!important;
}

.div-formulario-nombre{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.form-name{
    color: #000;
    fill: #000;
    font-family: 'Montserrat',Sans-serif;
    box-sizing: inherit;
    font-size: 12px;
    float: left;
    width: 100%;
}

.campo-para-usuario{
    box-sizing: inherit;
    font-family: 'Montserrat',Sans-serif;
    border-radius: 10px;
    display: block;
    padding: 12px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
    appearance: none;
    color: #000;
    fill: #000;
    background-color: #fff;
    transition: all .4s ease;
    font-size: 14px;
    margin-top: 4px;
}

.campo-para-usuario-mensaje{
    box-sizing: inherit;
    font-family: 'Montserrat',Sans-serif;
    border-radius: 10px;
    display: block;
    padding: 30px;
    width: 95.5%;
    border: 1px solid rgba(0,0,0,.3);
    appearance: none;
    color: #000;
    fill: #000;
    background-color: #fff;
    transition: all .4s ease;
    font-size: 14px;
    margin-top: 4px;
}

.btn-enviar-contacto{
    box-sizing: inherit;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
    appearance: none;
    text-transform: uppercase;
    white-space: normal;
    background: 0 0;
    transition: all .4s ease;
    padding: 13px;
    background-color: #136fac;
    color: #fff;
    fill: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    float: left;
    width: 100%;
}