@font-face {
    font-family: 'Verdana';
    src: url('../fonts/verdana.ttf') format('truetype');
}
@font-face {
    font-family: 'OkayText';
    src: url('../fonts/Okaytext\ Standard\ W00\ Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratThin';
    src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'convert';
    src: url('../fonts/convert.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratDef';
    src: url('../fonts/Montserrat.ttf') format('truetype');
}