.sectioncamisetas{
    font-size: 14px;
    color: #000;
    fill: #000;
    font-family: 'convert',Sans-serif;
    box-sizing: inherit;
    margin-top: 1.5rem!important;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.containerretro{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.columnaretro{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.headerretro{
    margin-bottom: 20px;
}

.titlecenter{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 16.666667%;
    text-align: center!important;
}

.tituloretro{
    fill: #000;
    box-sizing: inherit;
    font-size: 34px;
    font-weight: 700;
    text-align: center!important;
    color: #136fac;
    margin-top: 0;
    font-family: 'MontserratDef',Sans-serif;
    margin-bottom: 0;

}

.h6tituloretro{
    font-family: 'MontserratExtraLight',Sans-serif;
    margin-top: 0;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 1.5rem!important;
    text-align: center!important;
}


/* ----------------------------------------------------------- */



.barrainicio{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 100;
    max-width: 1300px;
    position: relative;
    visibility: visible!important;
    align-items: center!important;

    max-width: 90%;
}

.container-barra-inicio{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
}

.divbarrainicio{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem!important;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}

.barraretroinblock{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* flex: 0 0 75%; */
    max-width: 100%;
    /* display: block!important; */
}

.aling-self-center{
    /* flex: 0 0 auto; */
    /* width: auto; */
    /* max-width: none; */
    align-self: center!important;
}

.ultdivretro{
    font-family: 'MontserratExtraLight',Sans-serif;
    /* margin-bottom: 0!important; */
    text-align: left!important;
}

.aindexderetro{
    font-family: 'Montserrat',Sans-serif;
    text-decoration: none!important;
    transition: all .4s ease;
    /* display: inline-block; */
    /* margin: 0; */
    font-size: 14px;
    font-weight: 400;
    opacity: .6;
    color: #000;
    fill: #000;
}

.divider{
    clear: both;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 3px;
    opacity: .6;
}

.futbolretro{
    color: #000;
    fill: #000;
    font-family: 'Montserrat',Sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
}

/* ------------------------ */

.torsopagretro{
    width: 100%;
    font-size: 14px;
    color: #000;
    fill: #000;
    font-family: 'Montserrat',Sans-serif;
    box-sizing: inherit;
    margin-right: auto;
    margin-left: auto;
    z-index: 100;
    max-width: 90%;
    position: relative;
    visibility: visible!important;
    align-items: center!important;
}

.containertorso{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.columnaretrotorso{
    position: relative;
    width: 100%;
    min-height: 1px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 20%;
    
}

.filtrosizquierda{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    /* max-width: 16.666667%; */
    display: block!important;
    padding-right: 0!important;
    visibility: visible!important;
    white-space: nowrap!important;
}

.futbolretrotorsoizquierda{
    margin-bottom: 1.5rem!important;
    padding-bottom: .25rem!important;
    visibility: visible!important;
}

.displayblock{
    display: block!important;
}

.displayinblock{
    display: inline-block!important;
}

.displayflex{
    display: flex!important;
}

.divtorsoizq{
    visibility: visible!important;
    box-sizing: inherit;
    display: block!important;
    margin-bottom: 3rem!important;
}

.torsoizqfutbolretro{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    font-family: 'MontserratDef',Sans-serif;
    margin-bottom: 0.45rem!important;
}

.ulfutbolretro{
    list-style-type: none;
}

.lifutbolretro{
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 22px;
}

.afutbolretro{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat',Sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    fill: #000;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    margin-bottom: .15rem!important;
    
}

/* ----------------------- */
.sectorremeras{
    font-size: 14px;
    color: #000;
    fill: #000;
    font-family: 'Montserrat',Sans-serif;
    box-sizing: inherit;
    position: relative;
    width: 80%;
    min-height: 1px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    flex-basis: 0;
    flex-grow: 1;
    max-width: 80%;
    /* margin: 0 auto; */
}

.tablasproductos{
    display: flex;
    flex-wrap: wrap;
    
}

.columnascajasremeras{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los productos */
    justify-content: center;
    /* width: 100%; esto me rompio todo jajaja*/
}

.productos{
    padding: 0!important;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 308px;
}


.productos .info h4{
    font-size: 1em;
    margin-bottom: 2%;
    color: #000;
    fill: #000;
    font-family: 'MontserratLight',Sans-serif;
}
.productos h1{
    font-size: 20px;
    color: rgb(19, 111, 172);
    fill: rgb(19, 111, 172);
    font-family: 'MontserratDef',Sans-serif;
    font-weight: 700;
}



.imagenesproductos{
    position: relative;
    width: 100%;
    height: 238px;
    overflow: hidden
    /* pointer-events: none; */
    
}


.imagenesproductos img{
    width: 100%;
    height: 100%;
    /* display: block; */
    /* margin: 0; */
    /* padding: 0; */
    
}

.imagenesproductos .imagen-frontal{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagenesproductos .imagen-trasera {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.imagenesproductos:hover .imagen-trasera{
    transition: opacity 1s ease!important;
    opacity: 1;
} 

.info{
    padding: 10px;
    border-top: 4px solid rgb(19, 111, 172);
    /* width: auto; */
    z-index: 10;
    /* margin-top: 0; */
    background-color: #ffffff; /* Añadido para asegurar que la información tenga un fondo */
    /* position: relative; Añadido para asegurarse de que se mantenga por encima de las imágenes */
}